# ─────────────────────────────────────────────────────────────────────────────
# 기본(default) 프로파일 — 로컬 개발용
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:postgresql://localhost:5432/hamlol
    username: ham
    password: 6778
  jpa:
    hibernate:
      ddl-auto: update

  mail:
    host: smtp.gmail.com
    port: 587
    username: hamlolservice@gmail.com
    password: trvv ahen rbiy yhcc
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true

jwt:
  secret: XUKemfiZfrEWLtykdkjfeliwjfd59YLt5XXXkAdqZu33

props:
  reset-password-url: https://hamlol.xyz/reset-password

logging:
  level:
    org.example.hamlol: DEBUG
  file:
    name: logs/hamlol.log
    path: ./

# ─────────────────────────────────────────────────────────────────────────────
# prd 프로파일 — AWS RDS 연결용
---
spring:
  config:
    activate:
      on-profile: prd
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:postgresql://13.125.170.126:5432/hamlol
    username: hame
    password: 6778
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: hamlolservice@gmail.com
    password: "sbmo yplh pfgu yezs"
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true
  redis:
    host: 172.31.39.11
    # host: localhost
    port: 6379
jwt:
  secret: XUKemfiZfrEWLtykdkjfeliwjfd59YLt5XXXkAdqZu33

props:
  reset-password-url: https://hamlol.xyz/reset-password

# 카카오 API 설정 (사용하지 않으면 빈 값으로 두거나 주석 처리)
# kakao:
#   api_key: YOUR_KAKAO_REST_API_KEY
#   redirect_uri: https://hamlol.xyz/auth/kakao/callback

server:
  tomcat:
    uri-encoding: UTF-8
    max-http-form-post-size: 10MB
    max-swallow-size: 10MB
  port: 8080
  address: 0.0.0.0
  forward-headers-strategy: framework

logging:
  level:
    org.example.hamlol: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
  file:
    name: logs/hamlol.log
    path: ./